In [1]:
import pandas as pd
import numpy as np

import matplotlib
import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler
from scipy.cluster.hierarchy import linkage, dendrogram, fcluster
from sklearn.cluster import KMeans, DBSCAN

In [2]:
import pandas as pd
import numpy as np
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [4]:
df_raw = [["우유","라면"],["라면"],["아이스크림","우유"],["과자","라면"],["아이스크림"]]
df_raw

[['우유', '라면'], ['라면'], ['아이스크림', '우유'], ['과자', '라면'], ['아이스크림']]

In [5]:
enc = TransactionEncoder()
df_raw_enc = enc.fit_transform(X=df_raw)
df_asso = pd.DataFrame(df_raw_enc, columns = enc.columns_)
df_asso.head()

      과자     라면  아이스크림     우유
0  False   True  False   True
1  False   True  False  False
2  False  False   True   True
3   True   True  False  False
4  False  False   True  False

In [9]:
v_min_sup = 0.01

df_freq = apriori(df_asso, min_support = v_min_sup, use_colnames = True)
df_freq.round(3)

   support     itemsets
0      0.2         (과자)
1      0.6         (라면)
2      0.4      (아이스크림)
3      0.4         (우유)
4      0.2     (과자, 라면)
5      0.2     (우유, 라면)
6      0.2  (우유, 아이스크림)

In [11]:
(27/32)+(27/40)

1.51875

In [12]:
(0.5695*2)/1.51875

0.7499588477366255

In [42]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from statsmodels.api import Logit
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [43]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib

from sklearn.tree import export_graphviz
import graphviz

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor, DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import confusion_matrix

In [44]:
df_raw = pd.read_csv("/home/piai/test/Practice/data/IRIS.csv", engine="python",encoding="EUC-KR")
df_raw.head()

   SEPAL_LENGTH  SEPAL_WIDTH  PETAL_LENGTH  PETAL_WIDTH SPECIES
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [45]:
df_raw.isnull().sum(axis = 0)

SEPAL_LENGTH    0
SEPAL_WIDTH     0
PETAL_LENGTH    0
PETAL_WIDTH     0
SPECIES         0
dtype: int64

In [46]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 105 entries, 9 to 47
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   SEPAL_LENGTH  105 non-null    float64
 1   SEPAL_WIDTH   105 non-null    float64
 2   PETAL_LENGTH  105 non-null    float64
 3   PETAL_WIDTH   105 non-null    float64
 4   SPECIES       105 non-null    object
dtypes: float64(4), object(1)
memory usage: 4.9+ KB

In [47]:
df_raw_y = df_raw["SPECIES"]
df_raw_x = df_raw.drop("SPECIES", axis=1, inplace=False)

In [48]:
df_train_x, df_test_x, df_train_y, df_test_y = train_test_split(df_raw_x, df_raw_y, test_size = 0.3, random_state= 1234)
print("train data X size : {}".format(df_train_x.shape))
print("train data Y size : {}".format(df_train_y.shape))
print("test data X size : {}".format(df_test_x.shape))
print("test data Y size : {}".format(df_test_y.shape))

train data X size : (105, 4)
train data Y size : (105,)
test data X size : (45, 4)
test data Y size : (45,)

In [51]:
tree_final = DecisionTreeClassifier(random_state=1234,criterion='gini',min_samples_leaf=5, min_samples_split=10, max_depth=4)
tree_final.fit(df_train_x, df_train_y)

print("Score on training set: {:.3f}".format(tree_final.score(df_train_x, df_train_y)))
print("Score on test set: {:.3f}".format(tree_final.score(df_test_x, df_test_y)))

Score on training set: 0.962
Score on test set: 0.956

In [53]:
v_feature_name = df_train_x.columns

df_importance = pd.DataFrame()
df_importance['Feature'] = v_feature_name
df_importance['Importance'] = tree_final.feature_importances_

df_importance.sort_values("Importance", ascending=False, inplace=True)
df_importance.round(3)

        Feature  Importance
2  PETAL_LENGTH       0.573
3   PETAL_WIDTH       0.427
0  SEPAL_LENGTH       0.000
1   SEPAL_WIDTH       0.000

In [54]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import confusion_matrix

In [56]:
df_raw.shape

(150, 5)

In [57]:
print(df_train_x.shape, df_test_x.shape)

(105, 4) (45, 4)

In [68]:
#최종모델
knn_model = KNeighborsClassifier(n_neighbors=5)
knn_model.fit(df_train_x,df_train_y)
#평가
y_pred=knn_model.predict(df_test_x)

#train 데이터 셋 정확도
print("train data accuracy:{0:.3f}".format(knn_model.score(df_train_x,df_train_y)))
#test 데이터 셋 정확도
print("test data accuracy:{0:.3f}".format(knn_model.score(df_test_x,df_test_y)))
#confusion matrix
print("Confusion matrix:\n{}".format(confusion_matrix(df_test_y,y_pred)))

train data accuracy:0.971
test data accuracy:1.000
Confusion matrix:
[[16  0  0]
 [ 0 17  0]
 [ 0  0 12]]

In [69]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import matplotlib

from sklearn.model_selection import train_test_split

import statsmodels.formula.api as smf

from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor

from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

In [71]:
import matplotlib
import matplotlib.pyplot as plt

import seaborn as sns

from sklearn.preprocessing import StandardScaler

from sklearn.decomposition import PCA

import statsmodels.api as sm

%matplotlib inline

In [70]:
df_raw = pd.read_csv("/home/piai/test/Practice/data/체질검사.csv", engine="python",encoding="EUC-KR")
df_raw.head()

,FAT,AGE,WEIGHT,HEIGHT,NECK,CHEST,ABDOMEN,HIP,THIGH,KNEE,ANKLE,BICEPS,FOREARM,WRIST
0,35.2,46,363.15,72.25,51.2,136.2,148.1,147.7,87.3,49.1,29.6,45.0,29.0,21.4
1,11.8,27,168.00,71.25,38.1,93.0,79.1,94.5,57.3,36.2,24.5,29.0,30.0,18.8
2,22.2,69,177.75,68.50,38.7,102.0,95.0,98.3,55.0,38.3,21.8,30.8,25.7,18.8
3,10.6,57,147.75,65.75,35.2,99.6,86.4,90.1,53.0,35.0,21.3,31.7,27.3,16.9
4,47.5,51,219.00,64.00,41.2,119.8,122.1,112.8,62.5,36.9,23.6,34.7,29.1,18.4

In [72]:
df_raw_x = df_raw.drop("FAT", axis = 1)
df_raw_y = df_raw["FAT"]
df_raw_y.head()

0    35.2
1    11.8
2    22.2
3    10.6
4    47.5
Name: FAT, dtype: float64

In [73]:
df_raw_x.head()

,AGE,WEIGHT,HEIGHT,NECK,CHEST,ABDOMEN,HIP,THIGH,KNEE,ANKLE,BICEPS,FOREARM,WRIST
0,46,363.15,72.25,51.2,136.2,148.1,147.7,87.3,49.1,29.6,45.0,29.0,21.4
1,27,168.00,71.25,38.1,93.0,79.1,94.5,57.3,36.2,24.5,29.0,30.0,18.8
2,69,177.75,68.50,38.7,102.0,95.0,98.3,55.0,38.3,21.8,30.8,25.7,18.8
3,57,147.75,65.75,35.2,99.6,86.4,90.1,53.0,35.0,21.3,31.7,27.3,16.9
4,51,219.00,64.00,41.2,119.8,122.1,112.8,62.5,36.9,23.6,34.7,29.1,18.4

In [74]:
df_raw_x.corr().round(3)

,AGE,WEIGHT,HEIGHT,NECK,CHEST,ABDOMEN,HIP,THIGH,KNEE,ANKLE,BICEPS,FOREARM,WRIST
AGE,1.000,-0.013,-0.172,0.114,0.176,0.230,-0.050,-0.200,0.018,-0.105,-0.041,-0.085,0.214
WEIGHT,-0.013,1.000,0.308,0.831,0.894,0.888,0.941,0.869,0.853,0.614,0.800,0.630,0.730
HEIGHT,-0.172,0.308,1.000,0.254,0.135,0.088,0.170,0.148,0.286,0.265,0.208,0.229,0.322
NECK,0.114,0.831,0.254,1.000,0.785,0.754,0.735,0.696,0.672,0.478,0.731,0.624,0.745
CHEST,0.176,0.894,0.135,0.785,1.000,0.916,0.829,0.730,0.719,0.483,0.728,0.580,0.660
ABDOMEN,0.230,0.888,0.088,0.754,0.916,1.000,0.874,0.767,0.737,0.453,0.685,0.503,0.620
HIP,-0.050,0.941,0.170,0.735,0.829,0.874,1.000,0.896,0.823,0.558,0.739,0.545,0.630
THIGH,-0.200,0.869,0.148,0.696,0.730,0.767,0.896,1.000,0.799,0.540,0.761,0.567,0.559
KNEE,0.018,0.853,0.286,0.672,0.719,0.737,0.823,0.799,1.000,0.612,0.679,0.556,0.665
ANKLE,-0.105,0.614,0.265,0.478,0.483,0.453,0.558,0.540,0.612,1.000,0.485,0.419,0.566
BICEPS,-0.041,0.800,0.208,0.731,0.728,0.685,0.739,0.761,0.679,0.485,1.000,0.678,0.632
FOREARM,-0.085,0.630,0.229,0.624,0.580,0.503,0.545,0.567,0.556,0.419,0.678,1.000,0.586
WRIST,0.214,0.730,0.322,0.745,0.660,0.620,0.630,0.559,0.665,0.566,0.632,0.586,1.000

In [75]:
df_raw_x.describe().round(3)

,AGE,WEIGHT,HEIGHT,NECK,CHEST,ABDOMEN,HIP,THIGH,KNEE,ANKLE,BICEPS,FOREARM,WRIST
count,252.000,252.000,252.000,252.000,252.000,252.000,252.000,252.000,252.000,252.000,252.000,252.000,252.000
mean,44.885,178.924,70.149,37.992,100.824,92.556,99.905,59.406,38.590,23.102,32.273,28.664,18.230
std,12.602,29.389,3.663,2.431,8.430,10.783,7.164,5.250,2.412,1.695,3.021,2.021,0.934
min,22.000,118.500,29.500,31.100,79.300,69.400,85.000,47.200,33.000,19.100,24.800,21.000,15.800
25%,35.750,159.000,68.250,36.400,94.350,84.575,95.500,56.000,36.975,22.000,30.200,27.300,17.600
50%,43.000,176.500,70.000,38.000,99.650,90.950,99.300,59.000,38.500,22.800,32.050,28.700,18.300
75%,54.000,197.000,72.250,39.425,105.375,99.325,103.525,62.350,39.925,24.000,34.325,30.000,18.800
max,81.000,363.150,77.750,51.200,136.200,148.100,147.700,87.300,49.100,33.900,45.000,34.900,21.400

In [76]:
x_cols = df_raw_x.columns
scaler = StandardScaler()
nd_scaled = scaler.fit_transform(df_raw_x)

print("Scaled Data: \n {}".format(nd_scaled[:5].round(3)))
print("Shape:\n {}".format(nd_scaled.shape))

Scaled Data:
 [[ 0.089  6.281  0.575  5.444  4.205  5.161  6.685  5.324  4.366  3.841
   4.221  0.167  3.403]
 [-1.422 -0.372  0.301  0.044 -0.93  -1.25  -0.756 -0.402 -0.993  0.826
  -1.086  0.663  0.612]
 [ 1.917 -0.04  -0.451  0.292  0.14   0.227 -0.224 -0.841 -0.121 -0.77
  -0.489 -1.47   0.612]
 [ 0.963 -1.063 -1.203 -1.151 -0.146 -0.572 -1.371 -1.223 -1.492 -1.066
  -0.19  -0.676 -1.427]
 [ 0.486  1.366 -1.682  1.322  2.255  2.745  1.804  0.591 -0.702  0.294
   0.805  0.216  0.183]]
Shape:
 (252, 13)

In [77]:
df_scaled = pd.DataFrame(nd_scaled, columns=x_cols)
df_scaled.head().round(3)

,AGE,WEIGHT,HEIGHT,NECK,CHEST,ABDOMEN,HIP,THIGH,KNEE,ANKLE,BICEPS,FOREARM,WRIST
0,0.089,6.281,0.575,5.444,4.205,5.161,6.685,5.324,4.366,3.841,4.221,0.167,3.403
1,-1.422,-0.372,0.301,0.044,-0.930,-1.250,-0.756,-0.402,-0.993,0.826,-1.086,0.663,0.612
2,1.917,-0.040,-0.451,0.292,0.140,0.227,-0.224,-0.841,-0.121,-0.770,-0.489,-1.470,0.612
3,0.963,-1.063,-1.203,-1.151,-0.146,-0.572,-1.371,-1.223,-1.492,-1.066,-0.190,-0.676,-1.427
4,0.486,1.366,-1.682,1.322,2.255,2.745,1.804,0.591,-0.702,0.294,0.805,0.216,0.183

In [78]:
df_scaled.describe().round(3)

,AGE,WEIGHT,HEIGHT,NECK,CHEST,ABDOMEN,HIP,THIGH,KNEE,ANKLE,BICEPS,FOREARM,WRIST
count,252.000,252.000,252.000,252.000,252.000,252.000,252.000,252.000,252.000,252.000,252.000,252.000,252.000
mean,0.000,0.000,0.000,-0.000,-0.000,-0.000,0.000,-0.000,-0.000,-0.000,-0.000,0.000,0.000
std,1.002,1.002,1.002,1.002,1.002,1.002,1.002,1.002,1.002,1.002,1.002,1.002,1.002
min,-1.820,-2.060,-11.120,-2.841,-2.558,-2.152,-2.085,-2.330,-2.323,-2.366,-2.479,-3.800,-2.608
25%,-0.726,-0.679,-0.519,-0.656,-0.769,-0.742,-0.616,-0.650,-0.671,-0.652,-0.688,-0.676,-0.676
50%,-0.150,-0.083,-0.041,0.003,-0.140,-0.149,-0.085,-0.077,-0.038,-0.179,-0.074,0.018,0.075
75%,0.725,0.616,0.575,0.591,0.541,0.629,0.506,0.562,0.554,0.531,0.680,0.663,0.612
max,2.872,6.281,2.079,5.444,4.205,5.161,6.685,5.324,4.366,6.383,4.221,3.092,3.403

In [79]:
pca = PCA(n_components=13)
nd_pca = pca.fit_transform(df_scaled)

print("PCA Data: \n {}".format(nd_pca[:5]))
print("Shape:\n {}".format(nd_pca.shape))

PCA Data:
 [[ 1.51407865e+01  7.49180061e-01  1.73038829e+00  2.97562799e+00
  -1.20140416e+00  1.91649244e+00 -5.65465823e-01  6.41639529e-01
  -7.16668464e-01  6.67288487e-01  1.11830608e+00 -3.74402932e-01
  -4.01646380e-01]
 [-1.25745311e+00 -1.79805793e+00 -6.03591475e-01 -4.05941404e-01
   1.33324667e+00  8.22236818e-01  1.74463381e-01 -1.01801483e+00
   3.69261273e-02  3.76706308e-01 -8.75860804e-02 -1.14957740e-01
  -2.18982014e-01]
 [-7.27442052e-01  2.31886158e+00 -8.92096811e-01  6.82580352e-01
  -5.03280467e-01  6.00209382e-01 -5.16400793e-01 -9.56416513e-03
   4.79435580e-02 -2.64350345e-01  1.76015189e-01 -7.71764507e-02
  -1.35788495e-01]
 [-3.21015592e+00  1.46511228e+00  4.57907542e-01 -5.75637151e-01
   1.97721197e-02 -1.78803322e-01  7.16879046e-01  8.43042247e-01
   2.18223478e-01 -2.55255904e-01 -2.38793622e-01 -1.00886784e-01
  -1.22172296e-01]
 [ 3.24650172e+00  2.29304235e+00  1.82833929e+00 -2.33659425e-02
  -4.06978793e-01  1.14656798e+00  1.70117486e+00 -1.01494222e-01
   5.39821534e-01  3.04860443e-01  4.68418496e-01  2.75032599e-01
   9.03970253e-02]]
Shape:
 (252, 13)

In [80]:
df_pca = pd.DataFrame(nd_pca, columns = ["Prin1","Prin2","Prin3","Prin4","Prin5","Prin6","Prin7","Prin8","Prin9","Prin10","Prin11","Prin12","Prin13"])

df_scaled_pca = df_scaled.join(df_pca)
df_scaled_pca.head()

,AGE,WEIGHT,HEIGHT,NECK,CHEST,ABDOMEN,HIP,THIGH,KNEE,ANKLE,...,Prin4,Prin5,Prin6,Prin7,Prin8,Prin9,Prin10,Prin11,Prin12,Prin13
0,0.088660,6.280963,0.574790,5.444135,4.204531,5.161290,6.684808,5.323774,4.366207,3.841274,...,2.975628,-1.201404,1.916492,-0.565466,0.641640,-0.716668,0.667288,1.118306,-0.374403,-0.401646
1,-1.422033,-0.372455,0.301235,0.044490,-0.929933,-1.250360,-0.755929,-0.401936,-0.993129,0.826247,...,-0.405941,1.333247,0.822237,0.174463,-1.018015,0.036926,0.376706,-0.087586,-0.114958,-0.218982
2,1.917394,-0.040040,-0.451039,0.291802,0.139747,0.227107,-0.224448,-0.840907,-0.120679,-0.769944,...,0.682580,-0.503280,0.600209,-0.516401,-0.009564,0.047944,-0.264350,0.176015,-0.077176,-0.135788
3,0.963272,-1.062856,-1.203313,-1.150851,-0.145501,-0.572026,-1.371328,-1.222621,-1.491672,-1.065535,...,-0.575637,0.019772,-0.178803,0.716879,0.843042,0.218223,-0.255256,-0.238794,-0.100887,-0.122172
4,0.486211,1.366332,-1.682033,1.322269,2.255336,2.745306,1.803573,0.590521,-0.702312,0.294183,...,-0.023366,-0.406979,1.146568,1.701175,-0.101494,0.539822,0.304860,0.468418,0.275033,0.090397

In [81]:
df_pca_stat = pd.DataFrame()
df_pca_stat["PrinNo"] = [I for I in range(1,14)]
df_pca_stat["EigenValues"] = pca.explained_variance_
df_pca_stat["EigenValueRatio"] = pca.explained_variance_ratio_
df_pca_stat["CumEigenValueRatio"] = np.cumsum(pca.explained_variance_ratio_)
df_pca_stat.round(3)

    PrinNo  EigenValues  EigenValueRatio  CumEigenValueRatio
0        1        8.072            0.618               0.618
1        2        1.360            0.104               0.723
2        3        1.006            0.077               0.800
3        4        0.670            0.051               0.851
4        5        0.601            0.046               0.897
5        6        0.315            0.024               0.921
6        7        0.287            0.022               0.943
7        8        0.262            0.020               0.963
8        9        0.184            0.014               0.978
9       10        0.135            0.010               0.988
10      11        0.078            0.006               0.994
11      12        0.057            0.004               0.998
12      13        0.024            0.002               1.000